#contenido { 
    display: flex; 
    flex-direction: column; 
    height: 100%; 
}
.pantalla-ajustes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    height: 100%; 
    box-sizing: border-box; 
}

/* --- Boton lateral --- */
#btn-ajustes-lateral {
    background-color: var(--acento);
    padding: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #d8dee9;
    cursor: pointer;
    width: 100%;
}

#btn-ajustes-lateral img {
    width: 2rem;
}

/* --- Bloques centro --- */
.menu-bloques {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.bloque, .bloque-chico {
    background-color:  var(--acento);
    display: flex;
    height: 7.5rem;
    cursor: pointer;
    padding: 0;
    border-radius: 1.5rem;
overflow: hidden;
}

.bloque {
    width: 100%;
}

.icono {
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

.texto {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: #d8dee9;
}

/* --- Botones inferiores xd --- */
.botones-inferiores {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.bloque-chico {
    width: 32rem;
}
#menu-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu-horizontal div {
    height: auto; 
}

/* Boton de ajuste w */
#btn-ajustes-lateral {
    background-color: var(--acento);
    border-left: none;
    border-bottom: none;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #d8dee9;
    cursor: pointer;
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
}

#btn-ajustes-lateral img {
    width: 2rem;
}

#btn-ajustes-lateral:hover, 
.bloque:hover, 
.bloque-chico:hover {
    background-color: var(--acento-2);
}