.buscador-contenedor input {
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
}

#buscador {
    background-color: var(--bg-sec);
    color: var(--fc-color);
    padding: 0.5rem;
    border-radius: 1.5rem;
    text-align: center;
    width: 500px;
    margin-top: 0.5rem;
}

#menu-horizontal{
    position: relative;
}

#menu-horizontal .btn-cuenta{
    position: absolute;
    bottom: 2rem;
}

#menu-horizontal div a{
    font-size: 1.2rem;
}

#productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 1.5rem;
    padding: 4rem 5rem;
    box-sizing: border-box;
}

.producto {
    background-color: var(--bg-sec);
    color: var(--fc-color);
    min-height: 20rem;
    padding: 1.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-producto {
    width: 100%;
    height: 8rem;
    background-color: var(--acento);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.imagen-producto img {
    width: 6rem;
    height: 6rem;
}

.producto h2 {
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
}

.producto p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.producto a {
    color: var(--fc-color);
    font-size: 1rem;
    text-decoration: underline;
}

.producto a:hover {
    color: var(--acento-2);
}
