/* Nota, ese archivo es el general, los estilos de cada web es preferible que se hagan en su propio archivo.
 * Y añadir un comentario para saber para que sirve el archivo en especifico.
 *
 * En este archivo se encuentran los estilos para el header y la barra lateral.
 */

@import url("./vars.css"); /* Archvio de variables */

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Inter", sans-serif; /* Fuente a usar en la web */
    font-size: 10px; /* Tamaño base para usar rem */
    background-color: #000; /* Fondo general */
    color: var(--fc-color);
}

body {
    font-size: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-color);
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem;
}

header nav img{
    width: 9rem;
    height: 5rem;
    background-color: var(--acento);
}

header nav div {
    font-size: var(--letrasMenu);
}

header nav div a {
    color: var(--fc-color);
    text-decoration: none;
    margin-right: 1rem;
    transition: ease-in-out .5s;
}

header nav div a:hover {
    color: var(--acento-2);
    text-decoration: underline;
    transition: ease-in-out .5s;
}

#contedorGeneral {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 93vh;
}

#menu-horizontal {
    height: 100%;
    width: 12rem;
    background-color: var(--bg-color);
}

#menu-horizontal div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97%;
    margin: 1rem 1rem 0rem 1rem;
}

#menu-horizontal div a{
    font-size: var(--letrasMenu);
    text-decoration: none;
    color: var(--fc-color);
    padding-bottom: 2rem;
    transition: ease-in-out .5s;
    text-align: center;
}

#menu-horizontal div a:hover {
    color: var(--acento-2);
    transition: ease-in-out .5s;
}

#menu-horizontal div a:first-child{
    padding-top: 1rem;
}

#contenido {
    width: 100%;
    overflow-y: auto;
    background-color: var(--bg-color);
    margin: 1rem;
    border-radius: var(--rb-cont) 0 0 0;
}
