/* En este archivo se encuentran las variables para colores y la importación de fuentes para la web */

/* Importar fuende desde google */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif+Caption:ital@0;1&display=swap');

:root {
    /* Colores */
        --bg-color: #2b2625;
        --bg-sec: #403735;
    
        --acento: #c88d51;
        --acento-2: #8a5832;
    
        --rojo: #a04035;
    
        --fc-color: #e8ded5;
        --fc-dark: #1e1816;

    /* Tamaños */
    --rb-cont:     2rem; /* Bordes para el contenedor general */
    
    --letrasMenu:  1.75rem; /* Tamaño de las letras para el menu */
}
